.button {
  background-color: teal;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  min-height: 40px;
  color: white;
  height: 50px;

  &:hover {
    opacity: 0.8;
  }

  &.flat {
    background: transparent;
    border: 1px solid teal;
    color: teal;
  }

  &.full-width {
    width: 100%;
  }
}
