.header {
  margin-bottom: 20px;
  padding: 15px 0;

  @media (min-width: 768px) {

    padding: 5vh 0 5vh 0;
  }
}

.header-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-menu {
  height: 30px;
  width: 30px;
}

.title {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}