.header {
  padding: 10vh 0;
}

.header-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar img {
  padding: 2px;
  background: var(--aqua);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}