.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --sunflower: #FFC312;
  --redpigment: #EA2027;

  --energos: #C4E538;
  --aqua: #006266;

  --martina: #12CBC4;
  --merchant: #0652DD;
  --underthesea: #1B1464;

  --twinkie: #F4F4F4;

  --info: #717171;

  --lavander: #FDA7DF;
  --ring: #5758BB;

  --barta: #ED4C67;
  --magenta: #6F1E51;

  --radius: 12px;

  --pd-input: 13px 24px;
  
}

.main-input {
  padding: var(--pd-input);
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--twinkie);
  font-size: 14px;
  transition: all .2s linear;
  width: 100%;
}

.main-input:focus {
  background-color: white;
  border: 1px solid var(--twinkie);
  outline: 0;
}

.main-button {
  background-color: var(--ring);
  padding: var(--pd-input);
  font-size: 14px;
  border-radius: var(--radius);
  cursor: pointer;
  color: #fff;
}

.main-button:hover {
  opacity: .9;
}