* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  background: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.modal-overlay {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(50px);
  transition: all .3s ease-in-out;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin: 0 15px;
}

.modal-content__actions {
  margin-top: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minMax(140px, 1fr));
}

.modal-content__actions button {
  background: teal;
  color: #fff;
}